{% extends "details/base.html" %} {% load crispy_forms_tags %} {% block title %} Reset your password {% endblock title %} {% block content %}

<!-- <h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Send e-mail"></p>
    {% csrf_token %}
</form> -->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'details:home' %}">خانه</a></li>
                        <li>ثبت نام</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-8 col-md-8">
                    <div class="account_form login">
                        <h2>برای بازیابی رمز عبور ایمیل خود را وارد کنید:</h2>
                        {% if form.errors %} ایمیلی که وارد کردید اشتباه است. {% endif %}
                        <form method="POST">
                            {% csrf_token %}

                            <p>

                                {{form.email|as_crispy_field}}
                            </p>

                            <div class="login_submit">

                                <button type="submit">ارسال ایمیل</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- login area start-->
            </div>
        </div>
    </div>
</div>
{% endblock content %}