{% extends "details/base.html" %} {% load crispy_forms_tags %} {% block content %}
<!-- <h1>تغییر رمز عبور</h1> -->
<!-- <p>Use the form below to change your password.</p> -->
<!-- <form method="post">
    <p>old password</p>
    {{ form.old_password}}
    <p><input type="submit" value="Change"></p>
    {% csrf_token %}

</form> -->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'details:home' %}">خانه</a></li>
                        <li>ثبت نام</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 offset-lg-3 col-md-12 text-center">
                    <div class="account_form login">
                        <h2>تغییر رمز عبور</h2>
                        <form action="{% url 'password_change' %}" method="POST">
                            {% csrf_token %}

                            <p>
                                {{form.old_password|as_crispy_field}}
                            </p>
                            <p>
                                {{form.new_password1|as_crispy_field}}
                            </p>
                            <p>
                                {{form.new_password2|as_crispy_field}}
                            </p>
                            <div class="login_submit">

                                <button type="submit">تغییر رمز عبور</button>


                            </div>

                        </form>
                    </div>
                </div>
                <!-- login area start-->
            </div>
        </div>
    </div>
</div>
{% endblock content %}