{% extends "details/base.html" %} {% block title %} Reset your password {% endblock title %} {% block content %}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'details:home' %}">خانه</a></li>
                        <li>ثبت نام</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- <h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with.</p> -->



<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <!--login area start-->

                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2>ایمیل بازیابی رمز عبور با موفقیت برای شما ارسال شد.</h2>



                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div>
</div>


{% endblock content %}